<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о сотруднике</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 500px;
            margin-top: 50px;
        }
        .button-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container shadow bg-white rounded p-4">
        <h2 class="mb-4">Информация о сотруднике</h2>
        <p>Id работника: {{ employee[0] }}</p>
        <p>ФИО работника: {{ employee[2] }}</p>
        <div class="button-container d-flex justify-content-between mt-4">
            <a href="{{ url_for('showProducts') }}" class="btn btn-secondary">Товары</a>
            <a href="{{ url_for('showOrders') }}" class="btn btn-secondary">Запросы</a>
        </div>
    </div>
    <!-- Include Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
